<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue@next"></script>
    <title>test vuejs</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 class="my-5 text-center">to do list</h1>
        <form class="text-center" action="">
          <input type="text" v-model="message" />
          <button @click="ajouterNote">Ajouter</button>
        </form>

        <!-- <ul class="mt-5">
          <li class="col-3 mx-auto" v-for="todo in todos" @click="inverser">
            {{todo}}
          </li>
        </ul> -->
        <ul class="mt-5">
          <note v-for="todo in todos" v-bind:content="todo" @click="inverser"
            >{{todo}}</note
          >
        </ul>
      </div>
    </div>

    <script>
      const vm = Vue.createApp({
        data() {
          return {
            message: "to do",
            todos: ["sauver le monde", "aller manger", "faire du dev"],
          };
        },
        methods: {
          inverser() {
            this.todos.reverse();
          },
          ajouterNote(e) {
            e.preventDefault();
            this.todos.push(this.message);
          },
        },
      });

      vm.component("note", {
        props: ["content"],
        template: `<li class="col-3 mx-auto"> {{content}} </li>`,
      });

      vm.mount("#app");
    </script>
  </body>
</html>
